@use './colors.scss';
@use './font.scss';
@use './typography.scss';

.p-component,
.p-inputtext {
  font-family: 'Inter', sans-serif;
}

.p-button {
  font-weight: 500;
  font-size: 16px;
  padding: 0.7rem 1rem;
  border-radius: 6px;
}

.p-button.p-button-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--surfaces-default) !important;

  &:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
  }
}
.p-button.p-button-outlined:enabled:hover {
  background-color: transparent !important;
  color: var(--blue-800);
  border-color: var(--blue-800);
}
.p-button.p-button-outlined:enabled:active {
  background: var(--blue-75) !important;
  color: var(--blue-800);
}
.button-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--surfaces-default) !important;
  padding: 22px;
  font-size: 16px;
  border-radius: 6px;
  width: 100%;

  &:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
  }
}

.button-secondary {
  background-color: transparent !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;

  &:hover {
    background-color: var(--surface-hover) !important;
    border-color: var(--primary-color-dark) !important;
    color: var(--primary-color-dark) !important;
  }
}

.p-checkbox {
  border: 2px solid var(--primary);
  border-radius: 4px;
  width: 20px;
  height: 20px;

  .p-checkbox-box .p-checkbox-checked {
    border-color: var(--primary) !important;
    background: var(--primary) !important;
  }

  .p-checkbox-input {
    border-radius: 4px;
    transition: all 0.2s;

    &.p-highlight {
      border-color: var(--primary-color);
      background: var(--primary-color);
    }

    &.p-invalid {
      border-color: var(--red-500);
    }

    &:hover {
      border-color: var(--primary-color);
    }
  }
}

.p-checkbox-checked .p-checkbox-box {
  width: 20px;
  color: var(--surfaces-default);
  border-color: var(--primary) !important;
  background: var(--primary) !important;
}
.p-select-list {
  gap: 5px !important;
  border-radius: 6px !important;
  background-color: var(--surfaces-default) !important;
  position: relative;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.p-select-option {
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  font-size: 14px !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 4px 20px !important;
  border: 0 none;

  background: transparent;
}

.col {
  padding: 0;
}
