.heading,
%heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
}

.body-large,
%body-large {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.body-regular,
%body-regular {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}


.body-small,
%body-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.caption-regular,
%caption-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}
